@import "~src/scss/variables";
@import "~src/scss/mixins";
@import "~/../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

:host {
  overflow: hidden;
  position: absolute;
  top: 10vh;
  background: map-get($map: $theme, $key: "primary");
  border: 4px solid;
  border-image: linear-gradient(map-get($map: $theme, $key: "accent-g1"), map-get($map: $theme, $key: "accent-g2")) 1;
  padding: 10px 0;
}

.create-post-div {
  @include slide-left(transform);
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-rows: 68px auto;
}

.close-backdrop {
  @include popup-navigation-btn(8px, 8px, auto, auto);
}

.title {
  // margin: 0;
  // padding: 8px;
  // text-align: center;
  // font-size: 2rem;
  // border-bottom: 2px solid map-get($map: $theme, $key: "secondary");
  @include popup-title;
}

form {
  padding: 8px 18px;
  display: grid;
  grid-template-rows: 60px auto 60px 40px;
}

.post-content {
  width: 100%;
  height: 100%;
  background: transparent;
  color: inherit;
  font-size: 1.5rem;
  border: 0;
  resize: none;
  &:focus {
    outline: none;
  }
}

.user-bar {
  display: flex;
  align-items: center;
  padding: 5px 0 8px 0;

  .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: map-get($map: $theme, $key: "secondary");
  }

  .user-name {
    margin-left: 8px;
  }

  .share-privacy {
    margin-left: auto;
  }

}

.add-to-post {
  display: flex;
  align-items: center;
  border: 3px solid map-get($map: $theme, $key: "secondary");
  border-radius: 16px;
  padding: 0 12px;
  margin: 8px 0;
  a {
    margin-left: 12px;
    display: inline-block;
    width: 25px;
    height: 25px;
    &:hover {
      cursor: pointer;
    }
  }
  svg-icon {
    height: 100%;
    width: 100%;
  }
  svg {
    height: 100%;
    width: 100%;
  }
  .first {
    margin-left: auto;
  }
}

.post-btn {
  @include hover(115%, 100%);
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  border: 0;
  border-radius: 16px;
  background: linear-gradient(to right, map-get($map: $theme, $key: "accent-g1") 60%, map-get($map: $theme, $key: "accent-g2"));
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
