@import "~src/scss/variables";
@import "~src/scss/mixins";

:host {
  position: absolute;
  top: 0;
  left: 110%;
  width: 100%;
  padding: 10px 0;
  @include slide-left(left);
}

.back-btn {
  @include popup-navigation-btn(8px, auto, auto, 8px);
}

.title {
  @include popup-title;
}
