<a class="brand" routerLink="/">K</a>

<div class="sidenav-seperator"></div>

<div class="sidenav-icon" id="createIcon">
  <a (click)="sendComponentName('create')">
    <svg-icon src="assets/icons/sidebar/create.svg" [applyClass]="true"></svg-icon>
  </a>
</div>

<div class="sidenav-icon" id="feedIcon">
  <a>
    <svg-icon src="assets/icons/sidebar/feed.svg" [applyClass]="true"></svg-icon>
  </a>
</div>

<div class="sidenav-icon" id="inboxIcon">
  <a>
    <svg-icon src="assets/icons/sidebar/message.svg" [applyClass]="true"></svg-icon>
  </a>
</div>

<div class="sidenav-icon" id="toggleTheme">
  <a (click)="toggleTheme()">
    <svg-icon src="assets/icons/sidebar/sun.svg" [applyClass]="true"></svg-icon>
  </a>
</div>

<div class="sidenav-icon" id="userIcon">
  <a>
    <svg-icon src="assets/icons/sidebar/user-avatar.svg" [applyClass]="true"></svg-icon>
  </a>
</div>
