@import "~src/scss/variables";

:host {
  width: 100vw;
  min-height: 100vh;
  background: map-get($map: $theme, $key: "backdrop-bg-color");
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  overflow: auto;
}
