@import "~src/scss/variables";

:host {
  color: map-get($map: $theme, $key: "color");
}

div {
  padding-left: 60px;
  background: map-get($map: $theme, $key: "secondary");
  height: 100%;
  padding-right: 260px;
}
