:root {
  --accent-g1: #00d9ff;
  --accent-g2: #0084ff;
  --accent-1: #224968;
  --accent-2: #FF4B5D;
  --accent-3: #031926;
  --accent-4: #468189;
  --accent-5: #465362;
  --accent-6: #0c62a8;
  --accent-7: #F9DC5C;
  --accent-8: #ED254E;

  --home-primary: #011627;
  --home-secondary: #fdfffc;
  --home-btn-bg-color: #09233a;
  --home-btn-bg-color-hover: #133049;
  --home-primary-font-color: #f3f2f2;
  --home-secondary-font-color: #465362;

  --ui-primary: var(--ui-primary-light);
  --ui-secondary: var(--ui-secondary-light);
  --ui-pre-accent: var(--ui-pre-accent-light);
  --ui-color: var(--ui-color-light);
  --ui-shadow-color: var(--ui-shadow-color-light);
  --ui-backdrop-bg-color: var(--ui-backdrop-bg-color-light);
  --ui-box-shadow-color: var(--ui-box-shadow-color-light);

  --ui-primary-light: #ffffff;
  --ui-secondary-light: #eeeeee;
  --ui-pre-accent-light: #465362;
  --ui-color-light: #000000;
  --ui-shadow-color-light: #00000028;
  --ui-backdrop-bg-color-light: #ffffffd7;
  --ui-box-shadow-color-light: #00000044;

  --ui-primary-dark: #000000;
  --ui-secondary-dark: #0a0a0a;
  --ui-pre-accent-dark: #465362;
  --ui-color-dark: #e4e4e4;
  --ui-shadow-color-dark: #00000028;
  --ui-backdrop-bg-color-dark: #0000009c;
  --ui-box-shadow-color-dark: #ffffff50;
}
