@import "./colors";

@font-face {
  font-family: "Arizonia";
  src: url(../fonts/Arizonia-Regular.ttf);
}

@font-face {
  font-family: "Baloo Thambi 2";
  src: url(../fonts/BalooThambi2-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Baloo Thambi 2";
  src: url(../fonts/BalooThambi2-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Baloo Thambi 2";
  src: url(../fonts/BalooThambi2-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Baloo Thambi 2";
  src: url(../fonts/BalooThambi2-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Baloo Thambi 2";
  src: url(../fonts/BalooThambi2-ExtraBold.ttf);
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: "Baloo Thambi 2", cursive;
  background-color: var(--ui-primary);
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  overscroll-behavior-y: none;
}

.backdrop-open {
  overflow: hidden;
}
