// $fa_path: "../../node_modules/@fortawesome/fontawesome-free/less";
// @import "../../node_modules/@fortawesome/fontawesome-free/less/_variables.less";
// @import "../../node_modules/@fortawesome/fontawesome-free/less/_mixins.less";
// @import "../../node_modules/@fortawesome/fontawesome-free/less/_path.less";
// @import "../../node_modules/@fortawesome/fontawesome-free/less/_core.less";
// @import "../../node_modules/@fortawesome/fontawesome-free/less/_icons.less";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";


@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap");
@import "./colors";

@font-face {
  font-family: "Arizonia";
  src: url(../fonts/Arizonia-Regular.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  font-family: "Baloo Thambi 2", cursive;
  background-color: var(--ui-primary);
}

body {
  margin: 0;
  overscroll-behavior-y: none;
}

.backdrop-open {
  overflow: hidden;
}
