@import "~src/scss/variables";

:host {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 350px auto;
}

button:focus,
input:focus {
  outline-width: 1px;
  outline-color: $primary;
}

.login-pane {
  color: $primary-font-color;
  box-shadow: 0 0 15px #0000004d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $primary;

  .login-pane--title {
    margin: 1rem 0 0 0;
    font-size: 4rem;
    font-weight: 700;

    sub {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .login-pane--subtitle {
    margin: 0;
    font-weight: 600;
  }

  .login-form--title {
    margin: auto 0 0 0;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    input,
    button {
      height: 2.5rem;
      width: 100%;
      margin: 8px 0;
      padding: 0 8px;
      border: 0;
    }

    input {
      font-size: 0.9rem;
      border-radius: 3px;
      background: $secondary;
    }

    button {
      cursor: pointer;
      background: $btn-bg-color;
      font-family: inherit;
      font-size: 1.2rem;
      font-weight: 600;
      color: $primary-font-color;
      &:hover {
        background: $btn-bg-color-hover;
        transition: background 200ms ease-out;
      }
      &:not(:hover) {
        background: $btn-bg-color;
        transition: background 200ms ease-out;
      }
    }
  }
}

.register-pane {
  color: $secondary-font-color;
  background: $secondary;
  padding: 16px 64px;
  display: flex;
  flex-direction: column;

  .register-pane--title {
    margin: 0;
    font-size: 2.5rem;
  }

  form {
    margin: 16px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    input[type="number"],
    button {
      height: 3rem;
      border: 1px solid #00000017;
      padding: 0 16px;
      font-size: 1.3rem;
      border-radius: 4px;
    }

    button {
      margin-top: 30px;
      background: $primary;
      width: 100%;
      height: 5rem;
      cursor: pointer;
      font-family: inherit;
      font-size: 1.5rem;
      font-weight: 600;
      color: $primary-font-color;
      &:hover {
        background: $btn-bg-color-hover;
        transition: background 200ms ease-out;
      }
      &:not(:hover) {
        background: $primary;
        transition: background 200ms ease-out;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .input-label {
    width: 100%;
    margin: 16px 3px 5px 3px;
    font-size: 1.2rem;
  }

  .input-radio {
    width: 100%;
    font-size: 1.2rem;
    input {
      margin-left: 32px;
    }
    h4 {
      display: inline-block;
      margin: 16px 0 5px 0;
    }
  }

  .input-single {
    margin: 0 0 16px 0;
    width: 100%;
    input {
      width: 100%;
    }
  }

  .input-double {
    margin: 0 0 16px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    input {
      width: 49%;
    }
  }

  .footer-desc {
    margin: auto 0 0 0;
    text-align: center;
  }
}

.invalidForm {
  input.ng-invalid {
    border: 2px solid red !important;
  }
}

.login-form--error,
.register-form--error {
  color: red;
  margin: 5px 0 0 0;
  text-align: center;
}

invalidGender {
  color: red;
}
