<div class="login-pane">
  <h1 class="login-pane--title">Knect<sub>®</sub></h1>
  <h4 class="login-pane--subtitle">Where social media meets modenity</h4>
  <h3 class="login-form--title">Already have an account?</h3>

  <form class="login-form" action="">
    <input type="text" placeholder="Username" name="username" id="username" required />
    <input type="password" placeholder="Password" name="password" id="password" required />
    <button type="submit">Login</button>
  </form>
  
</div>
<div class="register-pane">
  <h1 class="register-pane--title">Create an account</h1>

  <form action="">
    <h4 class="input-label">Name</h4>
    <div class="input-double">
      <input type="text" placeholder="First Name" name="firstName" id="firstName" required />
      <input type="text" placeholder="Last Name" name="firstName" id="lastName" required />
    </div>
    <div class="input-radio">
      <h4>Gender</h4>
      <input type="radio" id="gender" name="gender" value="male" required />
      Male
      <input type="radio" id="gender" name="gender" value="female" required />
      Female
      <input type="radio" id="gender" name="gender" value="other" required />
      Other
    </div>
    <h4 class="input-label">Birthday</h4>
    <div class="input-single">
      <input type="date" name="dob" id="dob" required />
    </div>
    <h4 class="input-label">Credentials</h4>
    <div class="input-double">
      <input type="email" name="email" id="email" placeholder="Email" required />
      <input type="number" name="mobile" id="mobile" placeholder="Mobile" required />
    </div>
    <div class="input-double">
      <input type="text" name="username" id="username" placeholder="Username" required />
      <input type="password" name="password" id="password" placeholder="Password" required />
    </div>
    <button type="submit">Create account</button>
  </form>

  <p class="footer-desc">
    Knect 2020&nbsp;&nbsp;|&nbsp;&nbsp;All Rights Reserved
  </p>
</div>
